image: python:3.12

stages:
  - update_cache
  - test

variables:
  # Change pip's cache directory to be inside the project directory
  # since we can only cache local items.
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"
  PIP_PROGRESS_BAR: "off"

cache: &global_cache
  paths:
    - .cache/pip
    - .cache/uv
  # Only pull by default, use one of the CI stages to update the cache.
  policy: pull

before_script:
  - python -V
  - python -m venv .venv
  - source .venv/bin/activate
  - make -B venv

unit_test:
  stage: test
  variables:
    PYTEST_ADDOPTS: "--cov-report=xml --cov-report=term"
  script:
    - make tests
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
lint:
  stage: test
  script:
    - make lint

update_cache:
  stage: update_cache
  cache:
    <<: *global_cache
    policy: push
  script:
    - echo "Build OK. Updating cache."
  only:
    changes:
      - requirements/*
      - .gitlab-ci.yml
