name: Lint and Test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: |
            .cache/pip
            .cache/uv
          key: ${{ runner.os }}-python-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-python-

      - name: Install uv
        run: pip install uv


      - name: ruff-action
        uses: astral-sh/ruff-action@v3.5.0

      - name: Run pytest
        uses: pavelzw/pytest-action@v2.2.0

